.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 70px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  .menu_left {
    width: 400px;
    font-size: 20px;
    margin-left: 100px;
    // :hover {
    //   color: yellow;
    //   background-color: #000;
    // }
  }
  .search {
    width: 200px;
    margin: 0 50px;
  }
  .menu_right {
    width: 300px;
    font-size: 20px;
    :hover {
      color: yellow;
      background-color: #000;
      border: 0;
    }
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
